*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(#e24646, #2a3181);
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.App {
  position: absolute;
  top: 4em;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.45);
  width: 40%;
  padding: .6em 2em 1.5em 2em;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, .3);
  
}
.taskContainer {
  margin-top: 1em;
  max-height: 54vh;
  overflow-y: auto;
}
.App h1 {
  text-align: center;
  margin: .3em 0 .6em 0;
}
.App form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.App form input {
  color: #4d4d4d;
  transition: .3s ease;
  background: rgba(255, 255, 255, 0.541);
  border-radius: 5px;
  height: 2.5em;
  padding: 0 1em;
  margin: .3em;
  outline: none;
  border: none;
}
.App form label {
  display: inline-flex;
  align-items: center;
    flex-wrap: wrap;

}
.App form label span {
  margin-left: .3em;
  font-weight: 700;
}
.App form input:placeholder {
  color: inherit;
}
.App form input:focus {
  background: #fff;
}
.App form input:disabled {
  background: #c4c4c4;
  cursor:not-allowed;
}
.App form button {
  transition: .3s ease;

  background: rgba(255, 255, 255, 0.541);
  border-radius: 5px;
  height: 2.5em;
  outline: none;
  border: none;
}
.App form button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);

}

/* task */

.task {
  padding: 1em;
  position: relative;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.541);
  margin-bottom: 1.5em;
  overflow-wrap:break-word;
}
.task p span {
  font-weight: 500;
}
.task button {
  transition: .3s ease;
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  border:none;
  border-top-right-radius: 5px;
  padding: .2em;
  font-weight: 600;

}
.task button:hover {
  cursor: pointer;
  background: red;
}

@media screen and (max-width: 1024px) {
  .App {
    width: 400px;
  }
}
@media screen and (max-width: 480px) {
  .App {
    width: 90%;
    padding: 0 5% 0 5%;
  }
  .App form input,
  .App form button {
    padding: 0 2%;
  }
}